In [76]:
from ibm_watson import ToneAnalyzerV3
from ibm_cloud_sdk_core.authenticators import IAMAuthenticator

authenticator = IAMAuthenticator('IqEdRTVdqJlT8caIhis9hxNC90nzKvj0VFwN5CVdA0MI')
tone_analyzer = ToneAnalyzerV3(
     version='2017-09-21',
    authenticator=authenticator
)

tone_analyzer.set_service_url('https://api.us-east.tone-analyzer.watson.cloud.ibm.com')

In [77]:
from ibm_watson import ApiException
try:
    print("Watson Tone Analyzer initialized")
except ApiException as ex:
    print( "Method failed with status code " + str(ex.code) + ": " + ex.message)

Watson Tone Analyzer initialized

In [78]:
import json

tone_analyzer.set_service_url('https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/1ea8911e-feb9-4174-8ce1-1379339ea808')

text = 'If Zimmmerman free imma shoot everybody in Zion causing a ma ..'

tone_analysis = tone_analyzer.tone(
    {'text': text},
    content_type='application/json'
).get_result()
print(json.dumps(tone_analysis, indent=2))

{
  "document_tone": {
    "tones": [
      {
        "score": 0.862286,
        "tone_id": "analytical",
        "tone_name": "Analytical"
      }
    ]
  }
}

In [79]:
import pandas as pd
df_demo=pd.read_csv("demodata.csv")
df_demo

,User,Location,Tweet
0,atxleb,NaN,@theinstantwin @JKDAnthony10 @grantstern @TheD...
1,ShayneOfficial,NaN,@SailorZZtar It’s actually cheaper to eat on t...
2,JamesJgm26,NaN,I will kill trump just to piss off the Russians
3,VerucaMarie,NaN,@DJSlash always. We had to put the rock to sle...
4,Her_Masterpiece,"New York, USA",Just passed by a house with their icicle light...

In [85]:
#Fetching tone of various tweets and extracting it from the json returned by personality insights
index=0

for i in df_demo.itertuples():
    tone_analyzer.set_service_url('https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/1ea8911e-feb9-4174-8ce1-1379339ea808')
    text = i[3]
    #print(text)
    tone_analysis = tone_analyzer.tone(
        {'text': text},
        content_type='application/json'
    ).get_result()
    #print(tone_analysis['document_tone']['tones'],"\n\n")
    #print("\n\n\n")
    count=1
 
    for v in tone_analysis['document_tone']['tones']:
           #print (v['tone_id'])
           df_demo.loc[index,count]=v['tone_id']
           count=count+1;
    
    index=index+1
    
    #print(v['tone_id'])
    
print("Process completed. Execute next code block")

Process completed. Execute next code block

In [86]:
df_demo

,User,Location,Tweet,1,2
0,atxleb,NaN,@theinstantwin @JKDAnthony10 @grantstern @TheD...,analytical,NaN
1,ShayneOfficial,NaN,@SailorZZtar It’s actually cheaper to eat on t...,joy,confident
2,JamesJgm26,NaN,I will kill trump just to piss off the Russians,anger,tentative
3,VerucaMarie,NaN,@DJSlash always. We had to put the rock to sle...,analytical,confident
4,Her_Masterpiece,"New York, USA",Just passed by a house with their icicle light...,tentative,NaN

In [52]:
import pandas as pd 
  
# Creating the first Dataframe using dictionary 
df1 = pd.DataFrame({"a":[1, 2, 3, 4], 
                    "b":[5, 6, 7, 8]}) 


df1

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [61]:
df1.loc[0,1]="love"
df1

   a   b     1
0  1  10  love
1  2   6   NaN
2  3   7   NaN
3  4   8   NaN